In [8]:
#écrire un programme pandas pour afficher un datafame à partir des donnés de dictionnaires
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df = pd.DataFrame(exam_data, index = etiquettes)

print(df.head(3))

        noms  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui

In [60]:
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"] 

df = pd.DataFrame(exam_data, index = etiquettes)

df_drop = df.drop(["d", "h"], axis = 0)

print(df_drop)

        noms  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui
e      Emily    9.0           2       non
f    Michael   20.0           3       oui
g   Matthieu   14.5           1       oui
i      Kevin    8.0           2       non
j      jonas   19.0           1       oui

In [73]:
#extraire les colonnes noms et score
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df = pd.DataFrame(exam_data, index = etiquettes)

extraction = df[["noms", "score"]]

print(extraction)

        noms  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      Jmaes    NaN
e      Emily    9.0
f    Michael   20.0
g   Matthieu   14.5
h      Laura    NaN
i      Kevin    8.0
j      jonas   19.0

In [86]:
#écrire un programme pandas pour ajouter une nouvelle ligne "k" avec de nouvelles valeurs 
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"] 

df = pd.DataFrame(exam_data, index = etiquettes)

new_data = {'noms':'Suresh', 'score':'15.5', 'tentatives':'1', 'qualifier':'oui'}

df.loc['k'] = new_data

print(df)

        noms score tentatives qualifier
a  Anastasia  12.5          1       oui
b       Dima   9.0          3       non
c  Katherine  16.5          2       oui
d      Jmaes   NaN          3       non
e      Emily   9.0          2       non
f    Michael  20.0          3       oui
g   Matthieu  14.5          1       oui
h      Laura   NaN          1       non
i      Kevin   8.0          2       non
j      jonas  19.0          1       oui
k     Suresh  15.5          1       oui

In [2]:
### écrire un programme pandas qui supprime la colonne 'tentative'
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df = pd.DataFrame(exam_data, index = etiquettes)

df_drop = df.drop("tentatives", axis = 1)

print(df_drop)

        noms  score qualifier
a  Anastasia   12.5       oui
b       Dima    9.0       non
c  Katherine   16.5       oui
d      Jmaes    NaN       non
e      Emily    9.0       non
f    Michael   20.0       oui
g   Matthieu   14.5       oui
h      Laura    NaN       non
i      Kevin    8.0       non
j      jonas   19.0       oui

In [83]:
#ajouter une nouvelle 'succes' à une certaine condition
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"] 

df = pd.DataFrame(exam_data, index = etiquettes)

df['succes'] = np.where(df['score']>10, 1, 0)

print(df)

        noms  score  tentatives qualifier  succes
a  Anastasia   12.5           1       oui       1
b       Dima    9.0           3       non       0
c  Katherine   16.5           2       oui       1
d      Jmaes    NaN           3       non       0
e      Emily    9.0           2       non       0
f    Michael   20.0           3       oui       1
g   Matthieu   14.5           1       oui       1
h      Laura    NaN           1       non       0
i      Kevin    8.0           2       non       0
j      jonas   19.0           1       oui       1

In [4]:
#exporter un fichier csv nommé my_data 
import pandas as pd
import numpy as np

exam_data = {"noms":["Anastasia", "Dima", "Katherine", "Jmaes", "Emily", "Michael", "Matthieu", "Laura", "Kevin",
                    "jonas"],
            "score": [12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "tentatives": [1,3,2,3,2,3,1,1,2,1],
            "qualifier": ["oui", "non", "oui", "non", "non", "oui", "oui", "non", "non", "oui"]}
etiquettes = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"] 

df = pd.DataFrame(exam_data, index = etiquettes)

df['succes'] = np.where(df['score']>10, 1, 0)

print(df)

df.to_csv("data.csv")

        noms  score  tentatives qualifier  succes
a  Anastasia   12.5           1       oui       1
b       Dima    9.0           3       non       0
c  Katherine   16.5           2       oui       1
d      Jmaes    NaN           3       non       0
e      Emily    9.0           2       non       0
f    Michael   20.0           3       oui       1
g   Matthieu   14.5           1       oui       1
h      Laura    NaN           1       non       0
i      Kevin    8.0           2       non       0
j      jonas   19.0           1       oui       1